<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OptiStudy</title>
</head>
<body>
   <h1>Welcome to OptiStudy!</h1>

   <form action="/submit" method="post" role="form">
        <p>What is the scheduler starting date? (in DD/MM/YYYY)?
            <input id="startDate" name="startDate" placeholder="" value="" />
            <br>
            <br>
        </p>
        <p>What is the scheduler ending date? (in DD/MM/YYYY) 
            <input id="endDate" name="endDate" placeholder="" value="" />
            <br>
            <br>
        </p>
        <p>Enter your Canvas URL:
            <input id="canvasURL" name="canvasURL" placeholder="" value="" />
            <br>
            <br>
        </p>
        <p>Click on the "Choose File" button to upload your course scheduler file:
            <input type="file" id="schedulerFile" placeholder="Course scheduler" name="filename">
            <br>
            <br>
            </p>
        <input type="submit">
    </div>
</form>

</body>
</html>