<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OptiStudy</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="body-div">
    <div class="center-div">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <form action="/calendar" enctype=multipart/form-data method="post" role="form">
                <h2 class="center">What is the scheduler starting date (in DD/MM/YYYY)?
                    <input class ="button-23" id="startDate" name="startDate" placeholder="" value="" />
                    <br>
                    <br>
                </h2>
                <h2 class="center">What is the scheduler ending date (in DD/MM/YYYY)?  
                    <input class ="center button-23" id="endDate" name="endDate" placeholder="" value="" />
                    <br>
                    <br>
                </h2>
                <h2 class="center">Please enter your Canvas URL:
                    <input class ="button-23" id="canvasURL" name="canvasURL" placeholder="" value="" />
                    <br>
                    <br>
                </h2>
                <h2 class="center">Please upload your course scheduler file:
                    <input class ="button-23" type="file" id="schedulerFile" placeholder="Course scheduler" name="file">
                    <br>
                    <br>
                </h2>
                <h2 class="center">
                    <input class ="button-23" type="submit">
                </h2> 
        </form>
    </div>
    </body>
</html>